//- _classSurvey.jade
//- display current class' deployed survey

if (survey)
	h4 #{survey.name}
else
	h4 No survey selected!
div.form-inline
	select
		option SIMS
		if (survs)
			for surv in survs
				option #{surv.name}
	button.btn.btn-surv-select Select