//- _footer.jade
//- Page footer

footer.footer
	div.container
		ul.pull-left.footer-links
			li
				p.muted &#169 2014 Autonomous Humans Lab
		a.center(href='/')
			img.footer-check(src='../box6.png')
		ul.pull-right.footer-links
			li
				a(href="/about") About AHL