//- navbar

div(class="navbar navbar-inverse")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand1", href="/") 
				| Survo
			ul(class='nav1 nav')
					li
						a(href='https://sites.google.com/a/bucknell.edu/autonomous-human-laboratory-students/', target="_blank") About
			ul(class='nav1 nav pull-right')
				if !user
					li
						a(href='/login') Log In
				else if user == "stolktacular"
					li.dropdown1
						a.dropdown-toggle#username(href='/export', data-toggle="dropdown", name=user) Hi, #{user}
							b.caret
						ul.dropdown-menu
							li
								a(href='/survey/create') My Surveys
							li
								a(href='/classes') My Classes
							li
								a(href='/part') Participating	
							li
								a(href='/logout') Log Out
				else 
					li.dropdown1
						a.dropdown-toggle#username(href='/export', data-toggle="dropdown", name=user) Hi, #{user}
							b.caret
						ul.dropdown-menu
							li
								a(href='/part') Participating	
							li
								a(href='/logout') Log Out			


