//- navbar

div(class="navbar navbar-inverse navbar-fixed-top")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand", href="/") Stolk-vey
			ul(class='nav')
				li
					a(href='/') Survey
				li
					a(href='/about') About
