//- navbar

div(class="navbar navbar-inverse navbar-fixed-top")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand", href="/") Stolk-vey
				//img(src='auto-form.png')
			ul(class='nav')
				li
					a(href='/splash') Survey
				li
					a(href='/about') About
			ul.nav.pull-right
				if !user
					li
						a(href='/login') Log In
				else
					li.dropdown
						a.dropdown-toggle(href='/export', data-toggle="dropdown") Hi, #{user}
							b.caret
						ul.dropdown-menu
							li
								a(href='/survey/create') Create Survey
							li
								a(href='/export') Export Data
							li
								a(href='/logout') Log Out

