//- roster.jade
//- show roster div


div.roster-header
	h3.text-center Roster
div.container-special
	div.btn-group.text-center.pad#roster-group
		if requests.length
			button.btn.btn-inverse.requests.popper(data-toggle='popover', title="", data-content='<div class="requests"></div>', data-original-title='Requests')
				i.icon-globe
				- tail = (requests.length === 1 ? "Request" : "Requests")
				|  #{requests.length} #{tail}
		else
			button.btn.requests
				i.icon-globe
				|  No Requests

		button.btn.roster-add.popper(data-toggle='popover', title="", data-content='<div class="roster-add"><form class="form-inline roster-input"><textarea class="popover-textarea" type="textarea" placeholder="i.e. tim.bibberson@blargh.com, jim.jefferson@woohoo.com"></textarea><br><btn class="btn btn-text-roster">Enter</btn><input style="bold" type="file" name="files[]" multiple="multiple" id="files"></input></form></div>', data-original-title='Add Participants')
			i.icon-plus
			|  Edit Roster
		button.btn.btn.btn-new.send-email
			i.icon-envelope	
			|  Send Survey
	div#roster-search
		input.search-query(type='text', placeholder='Search roster')
	if (roster && roster.length > 0)
		div.pad-top#table-roster
			table.table.table-striped#table-roster
				tr
					th Student
					th Edit
				for student in roster
					tr
						td #{student}
						td
							button.btn.btn-small.btn-remove
								i.icon-minus
								|  Remove
	else
		p.pad Roster is empty!
