//- _surveys.jade
//- jade partial for surveys on create.jade

if (!surveys || surveys.length === 0)
	p You have not made any surveys!
else
	table.table.table-striped.table-condensed
		tr
			th Name
			th Deployed?
			th Editing

		- for (i=0;i<surveys.length;i++) {
			tr
				td #{surveys[i].name}
				if (countArr[i] === 0)
					td Not deployed
				else
					td
						a.overview-link(name=surveys[i].id) #{countArr[i]} Classes
				td
					a.edit-link(name=surveys[i].name)
						icon.icon-edit
		- }