doctype 5
html
	head
		title=title
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
		script(type="text/javascript", src='http://code.jquery.com/jquery.js')
		//link(src="http://bootswatch.com/flatly/bootstrap.min.css", rel="stylesheet")
		link(rel='shortcut icon', href='/box6.png')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
		script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
		link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800', rel='stylesheet', type='text/css')
		block scripts
			script(type='text/javascript', src='/javascripts/parallax.js')
	include _navbar.jade
	section#home.pages(data-type='background', data-speed='10')
		article 
			img(src='logo2.png')
			h1
			br
			br
			br
			br
			br
			br
			br
			h1 What is Survo?
	section#about.pages(data-type='background', data-speed='10')
		article(style='center')
			.span8(style='center', border='1')
				img(src='latitude.png')
			.span8(style='center')
				img(src='longitude.png')
			.span14.margin-left
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
				p vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;