extends layout

block scripts
	script(type='text/javascript', src='/javascripts/about.js')

block content
	div.container

		div.page-header
			| <h1>Autonomous Humans Lab <small>About the team</small></h1>



		ul.thumbnails
			li.span3
				div.thumbnail.about-thumb
					img.about-img.img-circle(data-src='holder.js/300x200', alt='', src='http://i3.researchgate.net/i/profile/9fcfd511e5535194ec_l_3a14c.jpg')
					.thumb-sub
						| <h4>Jon Stolk <small>aka J-Sizzle</small></h4>
						p Snappy dresser, movie enthusiast, and hater of morning.
			li.span3
				div.thumbnail.about-thumb
					img.about-img.img-circle(data-src='holder.js/300x200', alt='', src='http://i.imgur.com/5Qgr2e3.png?1')
					.thumb-sub
						| <h4> Alex Dillon <small>aka DJ Smooth Plotz</small></h4>
						p Coffee connoisseur, bearded warrior, and master of charts.
			li.span3
				div.thumbnail.about-thumb
					img.about-img.img-circle(data-src='holder.js/300x200', alt='', src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/733835_10200776964168725_1349741006_n.jpg')
					.thumb-sub
						| <h4> Doyung Lee <small>aka Dolla D Piles</small></h4>
						p Graphic artist, voice actor, and kisser of equestrians.
			li.span3
				div.thumbnail.about-thumb
					img.about-img.img-circle(data-src='holder.js/300x200', alt='', src='https://sphotos-b.xx.fbcdn.net/hphotos-frc1/419274_10200659618883791_1489128388_n.jpg')
					.thumb-sub
						| <h4> Mason del Rosario <small>aka Chronic Mase</small></h4>
						p Google junkie, Japan-ophile, and swinger of fire

		- var html = "<script>var widthSet = function() { var width = $('img.about-img').width(); $('img.about-img').css({'height':width+'px'}) }; widthSet(); $(window).resize(widthSet())</script>"
		| !{html}