extends layout

block content
	div.fluid-row
		div.span4
			h1 About Us
			p This is the about page. We're gonna put our epic stories here.
		div.offset2.pad
			a.button.btn-info.btn-large(href='/')
				Click For Cookies