//- background.jade
//- Include iframe that links to external page

extends layout

block content
	div.row-fluid.pad-top
		iframe(width='1100px' height='600', scrolling='yes', frameborder='no', src='http://faculty.olin.edu/~jstolk/matsci/')