//- classes.jade
//- display my current classes/allow for roster updating/data exporting

extends layout

block scripts
    script(type='text/javascript', src='/javascripts/classes.js')

block content
    br
    .tabbable.tabs-left
         ul.nav.nav-tabs
           li.active
              a(href='#tab1', data-toggle='tab') Section 1
           li
             a(href='#tab2', data-toggle='tab') Section 2
         .tab-content
           #tab1.tab-pane.active
             p I'm in Section 1.
           #tab2.tab-pane
             p Howdy, I'm in Section 2.

    