//- create.jade
//- Survey creation page

extends layout

block scripts
	script(type='text/javascript', src='/javascripts/make_survey.js')

block content
	div.row-fluid.pad-top
		div.span4.outline
			div.outline.margin.name-div
				h3 Survey Title
				form.form-inline.name-input
					input.survey-name(type="text", placeholder="Enter a title for your survey")
					a.btn.btn.btn-name Enter
				a.add-page.btn Add Page 
					i.icon-plus
			div.outline.margin
				h3 My Surveys
				if (!surveys)
					p You have not made any surveys!
				else
					ul
					for survey in surveys
						li
							p #{survey.name}
		div.span8.outline.pad
			h2 Creating...