//- create.jade
//- Survey creation page

extends layout

block scripts
	script(type='text/javascript', src='/javascripts/make_survey.js')

block content
	div.row-fluid.pad-top
		div.span4.outline
			div.outline.margin.current-surv
				h3 Current Survey
				div.margin.pages
			div.outline.margin
				div.row-fluid
					h3.span6 My Surveys
					div.span6
					btn.btn.btn-small.btn-new.pull-right(data-toggle='popover', title data-content='<div class="name-div"><form class="form-inline name-input"><input class="survey-name" type="text" placeholder="Enter a title for your survey"></input><btn class="btn btn-small btn-name">Enter</btn></form></div>', data-original-title='Name Your Survey!') Create New
				if (!surveys)
					p You have not made any surveys!
				else
					ul
					for survey in surveys
						li
							p #{survey.name}
		div.span8.outline.pad
			h2 Creating...