//- error.jade
//- general error page

extends layout

block content
	div.text-center.container.pad
		h1 That's awkward
		h3 We are experiencing technical difficulties.
		img(src='error.png')
		h3 We'll be back soon!