extends layout

block content
	h1 Welcome to the super secret csv exporting page. We are exporting your shenanigans now.
	a.button.btn-info.btn-large(href='/export/csv')
		Click Download me the csv!
	div
		include _csvexport.jade