extends layout

block content
	br
	br
	.hero-unit1(style='linedbanner.png')
		div.fluid-row
			div.span4
				h1 Stolk-vey
				p This is the home page. This is a not so big ol' photo.
			div.row-fluid.pad-top(style='right')
				br
				a.button.btn-info.btn-large(href='/survey')
					Click Take Survey
