//- not_roster.jade
//- render error page for not in roster

extends layout

block content
	div.hero.container
		div.row-fluid
			h1 This is not the survey you're looking for.
			img(src='http://fogsmoviereviews.files.wordpress.com/2011/09/starwars4_1938.jpg')