extends layout

block content
	img(src='http://fc01.deviantart.net/fs71/f/2013/138/a/9/mr__potoo_is_not_amused_by_secret_pony-d65oite.png')
	img(src='http://cdn.memegenerator.net/instances/400x/27320462.jpg')