extends layout

block content
	br
	br
	div.text-center
		h2 Woops!
		img(type='center', src='error.png', width='400px', title="'Now you're just a potoo I used to know'")
		h3 Looks like you're not allowed to be here right now. 
		h3 Check back when it's time to take surveys!