extends layout

block content
	div.hero.text-center
		div.row-fluid
			h1 About This Survey
			p This is the about the survey. We describe the survey here.
		div.row-fluid.pad-top
			a.button.btn-info.btn-large(href='/survey') Take Survey