extends layout

block content
	div.hero.container
		div.row-fluid
			h1 SIMS Introduction
			p The following questionnare asks about why you are engaged in the current Materials Science course activities.
			p There are no right or wrong answers to this questionnaire. This is not a test. Please respond to the questionnaire as accurately as possible, reflecting your own attitudes and behaviors in the course. You can skip any question and still continue with the survey, and you can quit the survey at any time by closing the web browser.
			p Estimated time for completion of the SIMS survey is 3-5 minutes.
		div.row-fluid.pad-top
			a.button.btn-info.btn-large(href='/survey') Take Survey